version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/server"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "go"
    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github-actions"
    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/server"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "docker"
    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "docker-compose"
    directory: "/deploy"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "docker"
    groups:
      all-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "postgres"
        update-types: ["version-update:semver-major"]
      - dependency-name: "elasticsearch"
        update-types: ["version-update:semver-major"]
      - dependency-name: "logstash"
        update-types: ["version-update:semver-major"]
      - dependency-name: "kibana"
        update-types: ["version-update:semver-major"]
