QUEUE_DOMAIN=lvh.me:8080
QUEUE_OIDC_ISSUER_URL=https://accounts.google.com
QUEUE_OAUTH2_CLIENT_ID=732838087902-qs0met9am2hj00jhi9bm9giu3mh72524.apps.googleusercontent.com
QUEUE_VALID_DOMAIN=umich.edu
QUEUE_OAUTH2_USE_PKCE=true
QUEUE_SITE_ADMIN_GROUPS=